@import url(https://fonts.google.com/share?selection.family=Work+Sans:ital,wght@0,100..900;1,100..900);
 
 
*{
    margin: 0px;
    box-sizing: border-box;
}
 
.cabecalho{
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 5vh;
    align-items: center;
}
 
.info-cabecalho{
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 30vw;
}
 
.logo{
    width: 5vw;
    height: 6vh;
}
 
.info-cabecalho h2{
    font-size: 15px;
    font-family: 'Work+Sans', sans-serif;
    font-weight: normal;
}
 
.secao-1{
    background-image: url(/images/fundo_da_tela\ .jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 60vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
 
.elementos-secao-1{
    display: flex;
    flex-direction: column;
    width: 25vw;
    gap: 20px;
}
 
.elementos-secao-1 h1{
    font-family: 'Work+Sans', sans-serif;
    font-size: 45px;
}
 
.elementos-secao-1 p{
    font-family: 'Work+Sans', sans-serif;
    font-size: 18px;
}
 
#bt-secao-1{
    width: 230px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #6D54CF;
    color: white;
    font-family: 'Work+Sans', sans-serif;
}
 
#img-secao-1{
    width: 27vw;
    height: 35vh;
}