*{
    margin: 0px;
}

.cabecalho{
    background-color: aqua;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 5vh;
}

.info-cabecalho{
    background-color: rebeccapurple;
    display: flex;
    flex-direction: row;
}

.logo{
    width: 6vw;
    height: 5vh;
}