.hero {
  display: flex;
  gap: 4.5625rem;
  background: linear-gradient(to right, var(--gradient-colors));
  padding: 8rem 18.75rem;

  .hero__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .hero__text {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;

      .hero__title {
        color: var(--text-primary-color);
        font-size: 4rem;
        font-weight: 600;
      }

      .hero__description {
        color: var(--text-primary-color);
        font-size: 1.5rem;
        font-weight: 400;
      }
    }

    .button--primary {
      width: fit-content;
    }
  }

  .hero__image {
    border-radius: 0.5rem;
  }
}
